doctype
html(lang='es')
    head
        meta(charset='utf-8')
        title Java
        link(rel="stylesheet", href="styleobjetos.css")
    body
        h1 Programación orientada a Objetos

        h2 ¿Qué es una clase?
        p Para emepzar con la programación orientada a objetos es fundamental que sepamos que sepamos que es una clase. Una clase es la definición de un nuevo tipo de variable que podrá contener otras variables y métodos que trabajen con esdas variables.

        h3 Datos a tener en cuenta
        p los nombres de las clases deben por convenio empezar por mayúscula.

        h2 ¿Qué es un objeto?
        p Un objeto es una instancia en memoria de un clase. Por ejemplo en el sector del automóvil para fabricar un coche necesitamos utilizar unos planos, estos serían la clase y el objeto sería el coche ya creado.

        #menu
            #clase
                h2 Clase
                #atributos
                    h3 Atributos
                #constructores
                    h3 Constructores 
            #objeto
                h2 Objeto