doctype
html(lang='es')
    head
        meta(charset='utf-8')
        title Java
    body
        h1 Java
        .Temario
            h2 
                a(href="/Temario/objetos/objetos.html") Programación orientada a objetos
